<?xml version="1.0"?>
<config>
  <modules>
    <COD_Eghl>
      <version>0.1.0</version>
    </COD_Eghl>
  </modules>
  <global>
    <models>
      <Eghl>
        <class>COD_Eghl_Model</class>
      </Eghl>
    </models>
    <helpers>
      <Eghl>
        <class>COD_Eghl_Helper</class>
      </Eghl>
    </helpers>
    <blocks>
      <Eghl>
        <class>COD_Eghl_Block</class>
      </Eghl>
    </blocks>
    <resources>
        <Eghl_setup>
            <setup>
                <module>COD_Eghl</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </Eghl_setup>
        <Eghl_write>
            <connection>
                <use>core_write</use>
            </connection>
        </Eghl_write>
        <Eghl_read>
            <connection>
                <use>core_read</use>
            </connection>
        </Eghl_read>
    </resources>	
  </global>
  <default>
    <payment>
      <Eghl>
        <model>Eghl/Eghl</model>
        <active>1</active>
		<cgi_url>0</cgi_url>
        <title>EGHL Payment Gateway</title>
        <postbackground></postbackground>
		<merchant_id>example@eghl.com</merchant_id>
        <payment_action>SALE</payment_action>
        <sort_order>1</sort_order>
      </Eghl>
    </payment>
  </default>
  <frontend>
    <routers>
      <Eghl>
        <use>standard</use>
        <args>
          <module>COD_Eghl</module>
          <frontName>Eghl</frontName>
        </args>
      </Eghl>
    </routers>
  </frontend>
</config>